.loading {
    font-size: 100px;
    color: #4D88ED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 200px auto;
}
.user-list {
    &_wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 28px;
        margin: 120px auto;
        color: grey;
        
        &-message{
            margin-top: 50px;
        }
    }
}
